{% extends "base-signup.html" %}
{% block content %}
<style type="text/css">
    .form_gen{display: block; align-self: center;}
</style>
<div class="form_gen">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=588711948335848&autoLogAppEvents=1"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '588711948335848',
          cookie     : true,
          xfbml      : true,
          version    : 'v5.0'
        });  
        FB.AppEvents.logPageView();         
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "https://connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
     <style type="text/css">
        .strike{
            display:    block;
            text-align: center;
            overflow:   hidden;
            white-space:nowrap;
            padding:    10px 0;
            font-size:  20px}
        .strike>span{
            position:relative;
            display: inline-block;}
        .strike>span:after,
        .strike>span:before{
            content:"";
            position:absolute;
            top:50%;
            width:9999px;
            height:1px;
            background:#d0d0d0;}
        .strike>span:before{
            right:100%;
            margin-right:15px}
        .strike>span:after{
            left:100%;
            margin-left:15px}
        .social{
            margin: 0 auto}
        .titleblock{
            text-align: center;}
        .fb-login-button{
            position: relative;
            height: 20px;
            top: 7px; 
            padding: 3px; 
            display: inline-block;
            margin-top: 0 5% 0 5%}
        .slash{display:inline-block;}
        [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
            position: absolute;
            opacity: 1;
            pointer-events: auto;
            display: inline;}
        
    </style>
        <h2 class="titleblock"> SIGN UP WITH </h2>
            <div class="social">

                    <div class="btn white darken-4 col s10 m4" style="width: 30%">
                         <a href="{% url 'social:begin' 'google-oauth2' %}" style="text-transform:none; margin-left: 5px; padding: 0px">
                             <div class="left">
                                 <img width="20px" alt="Google &quot;G&quot; Logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" style="position: relative; top: 4px" />
                             </div>
                            GOOGLE
                         </a>
                    </div>


                <div class="slash" style="margin: 0 5% 0 5%; width: 1%; font-size: 20px ">/</div>
                <div class="fb-login-button" data-width="20px" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>
            </div>
    <div class="strike">
        <span>
            or
        </span>
    </div>
    <form id="form" action="." method="POST" >
        {% csrf_token %}
        {% if error %}
        {{ error }}
        {% endif %}
        {{ form.as_p}}
        <p style="display: inline; margin: 0 15% 0 4%"> I'd like to receive news and offers</p>
        <br>
        <small> By signing up I agree to the <a href= "{% url 'terms' %}" >Terms of use</a> and <a href="{% url 'privacy' %}">Privacy policy</a></small>
        <br>
        <br>
        <input type="submit" name="submit" value="REGISTER"/>
    </form>
    <p style="display: block;"> Already have an account? <a href="{% url 'login' %}">Sign In</a></p>
    
</div>
{% endblock %}


